<div class="container" [ngClass]="{ lowOpacity: spinner }">
  <div class="projName">
    <div class="nameContainer">
      <div><img src="../../../assets/images/Icon.png" alt="Logo" /></div>
      <div class="projNDiv"><p class="Name">CMS Software</p></div>
    </div>
  </div>

  <div class="loginContainer" id="loginContainerId">
    <div class="bg3">
      <div class="loginDiv">
        <h1>Set a new password</h1>
        <div>
          <form
            action=""
            [formGroup]="formSetNewPassword"
            (ngSubmit)="setNewPassword()"
            #setnewpassform="ngForm"
          >
            <div class="label-div">
              <label class="form-label" for="fromInput3">Password</label>
              @if (showPass) {
              <input
                [appPassword]="showPass"
                type="text"
                class="form-input passwordCheck"
                id="fromInput3"
                placeholder="******************"
                formControlName="password"
                (onChangeInputValue)="showLastCharacter($event, 'password')"
                [ngClass]="{
                  'is-invalid':
                  formSetNewPassword.controls.password.touched &&
                  formSetNewPassword.controls.password.errors,
                  'is-valid':
                  formSetNewPassword.controls.password.touched &&
                  formSetNewPassword.controls.password.errors == null ,
                  'is-touched':
                  formSetNewPassword.controls.password.untouched &&
                  formSetNewPassword.controls.password.errors == null,
              }"
                (focusin)="test()"
                (input)="checkPasswordLength('password')"
                (focusout)="test()"
              />
              }@else {
              <input
                [appPassword]="showPass"
                type="password"
                class="form-input passwordCheck"
                id="fromInput3"
                placeholder="******************"
                formControlName="password"
                (onChangeInputValue)="showLastCharacter($event, 'password')"
                [ngClass]="{
                  'is-invalid':
                  formSetNewPassword.controls.password.touched &&
                  formSetNewPassword.controls.password.errors,
                  'is-valid':
                  formSetNewPassword.controls.password.touched &&
                  formSetNewPassword.controls.password.errors == null ,
                  'is-touched':
                  formSetNewPassword.controls.password.untouched &&
                  formSetNewPassword.controls.password.errors == null,
              }"
                (focusin)="test()"
                (input)="checkPasswordLength('password')"
                (focusout)="test()"
              />
              } @if(showPass){
              <fa-icon
                [icon]="faEye"
                class="EyeIcon"
                (click)="showPassword()"
              ></fa-icon>
              }@else {
              <fa-icon
                [icon]="faEyaSlash"
                class="EyeIcon"
                (click)="showPassword()"
              ></fa-icon>
              }
              <br />
              <div
                [ngClass]="{ passContainerSmallSize: passwordHint == true }"
                class="passwordCheckContainer"
              >
                <div class="invalid-feedback" [hidden]="!passwordHint">
                  <div class="strongth-password">
                    @if(formSetNewPassword.controls.password.value!.length < 6
                    || formSetNewPassword.controls.password.value!.length >= 6
                    && formSetNewPassword.controls.password.errors){
                    <div class="bar" id="week"></div>
                    <div class="bar" id="mediumH"></div>
                    <div class="bar" id="strongH"></div>

                    } @if(formSetNewPassword.controls.password.value!.length >=
                    6 && formSetNewPassword.controls.password.value!.length < 15
                    && formSetNewPassword.controls.password.errors==null){
                    <div class="bar" id="mediumS"></div>
                    <div class="bar" id="medium" #medium></div>
                    <div class="bar" id="strongH"></div>

                    } @if(formSetNewPassword.controls.password.value!.length >=
                    15 && formSetNewPassword.controls.password.errors==null){
                    <div class="bar" id="weekH"></div>
                    <div class="bar" id="strongS" #medium></div>
                    <div class="bar" id="strong" #strong></div>
                    }
                  </div>
                </div>
                <p
                  id="passHint"
                  [ngClass]="{ show: passwordHint }"
                  [ngClass]="{ hide: passwordHint }"
                >
                  Password hint : 8 characters minimum
                </p>
                <div
                  class="passwordValidation"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <div [hidden]="!passwordHint" class="passwordHint">
                    @if(formSetNewPassword.controls.password.value!.length < 6
                    || formSetNewPassword.controls.password.value!.length >= 6
                    && formSetNewPassword.controls.password.errors){
                    <p class="passCheckWord">Password: Week</p>
                    } @if(formSetNewPassword.controls.password.value!.length >=
                    6 && formSetNewPassword.controls.password.value!.length < 15
                    && formSetNewPassword.controls.password.errors==null){
                    <p class="passCheckWord">Password: Meduim</p>
                    } @if(formSetNewPassword.controls.password.value!.length >=
                    15 && formSetNewPassword.controls.password.errors==null){
                    <p class="passCheckWord">Password: Strong</p>
                    }
                  </div>
                  <button type="button" class="tooltip">
                    !
                    <ul class="tooltiptext">
                      Your Password Must Contain:
                      <li>
                        <span
                          class="correctIcon"
                          [ngClass]="{
                            changeBG: numberLength
                          }"
                          >✔</span
                        >At least 8 characters
                      </li>
                      <li>
                        <span
                          class="correctIcon"
                          [ngClass]="{
                            changeBG: uppercase
                          }"
                          >✔</span
                        >At least One Capital Letter
                      </li>
                      <li>
                        <span
                          class="correctIcon"
                          [ngClass]="{
                            changeBG: Number
                          }"
                          >✔</span
                        >At least One Number
                      </li>
                      <li>
                        <span
                          class="correctIcon"
                          [ngClass]="{
                            changeBG: specialChar
                          }"
                          >✔</span
                        >At least One Special
                        <span style="margin-left: 12%"
                          >Character:!#$%^&*()_+.</span
                        >
                      </li>
                    </ul>
                    <!-- <span id="length"></span> -->
                    <!-- <span id="upercase">At least contain 1 upercase</span>
            <span id="number">At least contain 3 numbers</span> -->
                  </button>
                </div>
              </div>
              <div class="label-div">
                <label class="form-label" for="fromInput4"
                  >Confirm Password</label
                >
                @if (showConfirmPass) {
                <input
                  [appPassword]="showConfirmPass"
                  type="text"
                  class="form-input"
                  id="fromInput4"
                  formControlName="confirmPassword"
                  (input)="checkPasswordLength('confirmPassword')"
                  (onChangeInputValue)="
                    showLastCharacter($event, 'confirmPassword')
                  "
                  placeholder="******************"
                  [ngClass]="{ 'is-invalid':
                formSetNewPassword.controls.confirmPassword.touched &&
                formSetNewPassword.controls.confirmPassword.errors, 'is-valid':
                formSetNewPassword.controls.confirmPassword.touched &&
                formSetNewPassword.controls.confirmPassword.errors == null ,
                'is-touched':
                formSetNewPassword.controls.confirmPassword.untouched &&
                formSetNewPassword.controls.confirmPassword.errors == null, }"
                />
                }@else {
                <input
                  [appPassword]="showConfirmPass"
                  type="password"
                  class="form-input"
                  id="fromInput4"
                  formControlName="confirmPassword"
                  placeholder="******************"
                  (input)="checkPasswordLength('confirmPassword')"
                  (onChangeInputValue)="
                    showLastCharacter($event, 'confirmPassword')
                  "
                  [ngClass]="{
                'is-invalid':
                formSetNewPassword.controls.confirmPassword.touched &&
                formSetNewPassword.controls.confirmPassword.errors,
                'is-valid':
                formSetNewPassword.controls.confirmPassword.touched &&
                formSetNewPassword.controls.confirmPassword.errors == null ,
                'is-touched':
                formSetNewPassword.controls.confirmPassword.untouched &&
                formSetNewPassword.controls.confirmPassword.errors == null,
                }"
                />
                } @if(showConfirmPass){
                <fa-icon
                  [icon]="faEye"
                  class="EyeIcon"
                  (click)="showConfirmPassword()"
                ></fa-icon>
                }@else {
                <fa-icon
                  [icon]="faEyaSlash"
                  class="EyeIcon"
                  (click)="showConfirmPassword()"
                ></fa-icon>
                } @if (formSetNewPassword.controls.confirmPassword.touched &&
                formSetNewPassword.controls.confirmPassword.errors) {
                <div class="invalid-feedback">
                  @if(formSetNewPassword.controls.confirmPassword.errors['required'])
                  {
                  <p class="required">Confirm Password is required</p>
                  }
                  @if(formSetNewPassword.controls.confirmPassword.errors['passwordMismatch'])
                  {
                  <p>Confirm Password does not match</p>
                  }
                </div>
                }
              </div>
              @if(resetBool){
              <p class="required1">{{ resetMsg }}</p>
              }
              <button
                type="submit"
                [ngClass]="{ disable: formSetNewPassword.invalid }"
                [disabled]="formSetNewPassword.invalid"
              >
                Reset password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

@if(spinner){
<div class="spinner">
  <app-spinner></app-spinner>
</div>
}
