<div class="container">
  <svg class="top-right" width="483" height="662" viewBox="0 0 483 662" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.1" filter="url(#filter0_f_834_16490)">
      <circle cx="353.5" cy="308.5" r="193.5" fill="#0660FC" />
    </g>
    <defs>
      <filter id="filter0_f_834_16490" x="0" y="-45" width="707" height="707" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="80" result="effect1_foregroundBlur_834_16490" />
      </filter>
    </defs>
  </svg>

  <div class="row">
    <div class="col-12 header">
      <div class="projName">
        <img src="assets/images/Icon.png" alt="ProjectIcon" />
        <p>CMS Software</p>
      </div>
    </div>
  </div>
  <div class="row images">
    <div class="col-5 left-side">
      <div class="content">
        <h4>OOOps!</h4>
        <h4> Page Not Found</h4>
        <p>
          Sorry about that! Please visit our homepage to get where you need to go.
        </p>
        <a [routerLink]="['/auth/signin']">
          <img src="assets/images/arrow-left.svg" alt="leftarrow" />Back Home
        </a>
      </div>
    </div>
    <div class="col-5 not-found-image">
      <img src="assets/images/not-found.svg" alt="not-found" />
    </div>
  </div>
  <svg class="bottom-left" width="417" height="438" viewBox="0 0 417 438" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.1" filter="url(#filter0_f_834_16491)">
      <circle cx="97" cy="320" r="186" fill="#01CCFF" />
    </g>
    <defs>
      <filter id="filter0_f_834_16491" x="-223" y="0" width="640" height="640" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="67" result="effect1_foregroundBlur_834_16491" />
      </filter>
    </defs>
  </svg>

</div>