.input-text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
}

.label-password {
  color: #5e6278;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.pass-inp {
  position: relative;
}

.pass-inp svg {
  position: absolute;
  right: 10px;
  bottom: 13px;
  cursor: pointer;
}

#password {
  width: 409px;
  height: 42px;
  padding: 11.5px 10px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 0.75px solid rgba(191, 212, 228, 0.4);
  background: #fff;
}

#password::placeholder {
  color: #a1a5b7;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.1px;
}

#password:focus {
  outline: 0.75px solid #0660fc;
  border: none;
}

#password.ng-touched {
  outline: 0.75px solid #f1416c;
  border: none;
}

#password.ng-valid {
  outline: 0.75px solid #0660fc;
  border: none;
}

.required {
  margin-top: 10px;
  color: #f1416c;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}
