<!DOCTYPE html>
<div class="container">
  <div class="projName">
    <div class="nameContainer">
      <div><img src="assets/images/Icon.png" alt="Logo" /></div>
      <div class="projNDiv">
        <p class="Name">CMS Software</p>
      </div>
    </div>
  </div>

  <div class="loginContainer" id="loginContainerId">
    <div class="bg3">
      <div class="loginDiv">
        <div class="content">
          <div>
            <img src="assets/images/Animation - 1702803941821.gif" alt="" width="250px" />
          </div>
          <h1>Password Changed</h1>
          <p class="info1">Your password has been changed</p>
          <button routerLink="/auth/signin"><a class="Link">LOG IN</a></button>
        </div>
      </div>
    </div>
  </div>
</div>