<div class="container">
  <div class="projName">
    <div class="nameContainer">
      <div><img src="../../../assets/images/Icon.png" alt="Logo" /></div>
      <div class="projNDiv"><p>CMS Software</p></div>
    </div>
  </div>

  <div class="resetContainer" id="resetContainerId">
    <div class="bg2">
      <div class="resetDiv">
        <form
          action=""
          [formGroup]="formSendMail"
          (ngSubmit)="resetSubmit()"
          #resetform="ngForm"
        >
          <div>
            <h1>Forget Password</h1>
            <p class="info1">
              Enter your email, We will send you code to reset password
            </p>
          </div>
          <div>
            <label class="form-label" for="fromInput2">Email:</label>
            <input
              type="email"
              class="form-input"
              id="fromInput2"
              placeholder="i.e. Haitham.mo@company.com"
              formControlName="forgetEmail"
              [ngClass]="{
                'is-invalid':
                  formSendMail.controls.forgetEmail.touched &&
                  formSendMail.controls.forgetEmail.errors
              }"
            />
            @if (formSendMail.controls.forgetEmail.touched &&
            formSendMail.controls.forgetEmail.errors) {
            <div class="invalid-feedback">
              @if (formSendMail.controls.forgetEmail.errors['required']) {
              <p>Email is required</p>
              } @if (formSendMail.controls.forgetEmail.errors['email']) {
              <p>invalid email. please verify agian</p>
              }
            </div>
            }
          </div>
          <button
            type="submit"
            [ngClass]="{ disabled: formSendMail.invalid }"
            [disabled]="formSendMail.invalid"
          >
            Reset password
          </button>
          <p class="info2">
            Did you remember your password?
            <a routerLink="/auth/signin">LOG IN</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
@if(spinner){
<div class="spinner">
  <app-spinner></app-spinner>
</div>
}
