* {
  box-sizing: border-box;
  font-family: "DM sans";
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 380px;
  height: 313px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 12.982px 28.848px 0px rgba(112, 144, 176, 0.12);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-corner {
  position: absolute;
  top: 0px;
  left: 0px;
}

.delete-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.card {
  width: 380px;
  height: 313px;
  border-radius: 12px;
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
}

.icon {
  width: 100%;
  text-align: center;
}

.card-content {
  text-align: center;
  padding: 10px;
}

/* .card-content h4 {
  color: #101828;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0px;
}
.card-content p {
  color: #475467;
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
} */

.card .icon img {
  width: 25%;
}

span {
  color: rgba(241, 65, 108, 1);
}

.card-actions {
  margin: 0;
  border-top: 0.75px solid rgba(191, 212, 228, 0.2);
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 14px 20px 14px 20px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 14;
  width: 166px;
}

.action {
  background-color: rgba(241, 65, 108, 1);
  color: #fff;
  border: 0px;
  cursor: pointer;
}

.cancel {
  border: 0.75px solid rgba(191, 212, 228, 0.4);
  background-color: #fff;
  color: rgba(94, 98, 120, 1);
  cursor: pointer;
}

.hide {
  display: none;
}
