<div class="container">
  <div class="row">
    <div class="col-12 header">
      <div class="projName">
        <img src="assets/images/Icon.png" alt="ProjectIcon" />
        <p>CMS Software</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 left-side">
      <h4>OOOps! Page Not Found</h4>
      <p>
        Sorry about that! Please visit our homepage to get where you need to go.
      </p>
      <a [routerLink]="['/signin']">
        <img src="assets/images/arrow-left.svg" alt="leftarrow" />Back Home
      </a>
    </div>
    <div class="col-6">
      <img src="assets/images/not-found.svg" alt="not-found" />
    </div>
  </div>
</div>
