* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 2s ease-in !important;
}

.close {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 1px;
  cursor: pointer;
}

.toast-container {
  /* margin-top: 50px; */
  display: flex;
  align-items: start;
  justify-content: start;
  border-radius: 10px;
  border: 1px solid #e6e8ec;
  border-left: none;
  background: #fff;
  width: 400px;
  height: 96px;
  position: relative;
  transition: all 2s ease-in;
  box-shadow: 0px 12px 32px 0px rgba(6, 28, 61, 0.08);
}

.toast-container::after {
  content: "";
  position: absolute;
  padding: 0px 3px;
  left: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  align-self: stretch;
}

.system::after {
  background-color: #0660fc;
}
.success::after {
  background-color: #48b29a;
}
.failed::after {
  background-color: #f1416c;
}
.warning::after {
  background-color: #ffc727;
}

.toast-container div h5 {
  color: #3f4254;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.192px;
  margin: 0px 3px 3px 3px;
}

.toast-container div p {
  color: #7e8299;
  margin: 3px;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.hide {
  /* right: 0px; */
  margin-right: -50px;
  transition: all 1s;
}

.show {
  /* right: 400px; */
  margin-right: 50px;
  transition: all 1s;
}

.toast-content {
  display: flex;
  margin-left: 23px;
  margin-top: 15px;
  gap: 15px;
  position: relative;
  width: 100%;
  transition: all 1s;
}

.toast-description {
  width: 77%;
}

.toast-icon-svg {
  display: flex;
  margin-left: 0px;
  margin-top: 0px;
  gap: 5px;
}

@media screen and (max-width: 500px) {
  .toast-container {
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    border: 1px solid #e6e8ec;
    border-left: none;
    background: #fff;
    width: 300px;
    height: 96px;
    position: relative;
    transition: all 2s ease-in;
    box-shadow: 0px 12px 32px 0px rgba(6, 28, 61, 0.08);
  }

  .toast-container div p {
    color: #7e8299;
    margin: 3px;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .show {
    margin: 10px;
  }
}
